:root{
    --gray1: #fff;
    --gray2: #f8f8f8;
    --gray3: #eaeaea;
    --gray4: #b1b1b9;
    --gray5: #838592;
    --gray6: #5d5d6c;
    --gray7: #22272b;
    --gray8: #161a1f;
    --gray9: #06070d;
    --gray1-rgb: 255,255,255;
    --gray2-rgb: 248,248,248;
    --gray3-rgb: 234,234,234;
    --gray4-rgb: 177,177,185;
    --gray5-rgb: 131,133,146;
    --gray6-rgb: 93,93,108;
    --gray7-rgb: 34,39,43;
    --gray8-rgb: 22,26,31;
    --gray9-rgb: 6,7,13;
    --green1: #e8fff7;
    --green2: #b9ffe8;
    --green3: #9affde;
    --green4: #00e59b;
    --green5: #00c787;
    --green6: #009f6c;
    --green7: #006646;
    --green8: #004c34;
    --green9: #002e1f;
    --green1-rgb: 232,255,247;
    --green2-rgb: 185,255,232;
    --green3-rgb: 154,255,222;
    --green4-rgb: 0,229,155;
    --green5-rgb: 0,199,135;
    --green6-rgb: 0,159,108;
    --green7-rgb: 0,102,70;
    --green8-rgb: 0,76,52;
    --green9-rgb: 0,46,31;
    --khaki1: #e7ede4;
    --khaki2: #dce5d7;
    --khaki3: #d2decc;
    --khaki4: #a8b2a7;
    --khaki5: #8b9e8f;
    --khaki6: #617362;
    --khaki7: #465c4d;
    --khaki8: #314537;
    --khaki9: #213126;
    --khaki1-rgb: 231,237,228;
    --khaki2-rgb: 220,229,215;
    --khaki3-rgb: 210,222,204;
    --khaki4-rgb: 168,178,167;
    --khaki5-rgb: 139,158,143;
    --khaki6-rgb: 97,115,98;
    --khaki7-rgb: 70,92,77;
    --khaki8-rgb: 49,69,55;
    --khaki9-rgb: 33,49,38;
    --purple1: #f6f6ff;
    --purple2: #ededff;
    --purple3: #e3e4ff;
    --purple4: #a6a8ff;
    --purple5: #7579ff;
    --purple6: #5050c0;
    --purple7: #3e3ead;
    --purple8: #2a2a83;
    --purple9: #222265;
    --purple1-rgb: 246,246,255;
    --purple2-rgb: 237,237,255;
    --purple3-rgb: 227,228,255;
    --purple4-rgb: 166,168,255;
    --purple5-rgb: 117,121,255;
    --purple6-rgb: 80,80,192;
    --purple7-rgb: 62,62,173;
    --purple8-rgb: 42,42,131;
    --purple9-rgb: 34,34,101;
    --red1: #fef2f3;
    --red2: #fee5e7;
    --red3: #fdd7da;
    --red4: #f7616d;
    --red5: #f53948;
    --red6: #ac0916;
    --red7: #73060f;
    --red8: #4d040a;
    --red9: #390307;
    --red1-rgb: 254,242,243;
    --red2-rgb: 254,229,231;
    --red3-rgb: 253,215,218;
    --red4-rgb: 247,97,109;
    --red5-rgb: 245,57,72;
    --red6-rgb: 172,9,22;
    --red7-rgb: 115,6,15;
    --red8-rgb: 77,4,10;
    --red9-rgb: 57,3,7;
    --orange1: #fff3e5;
    --orange2: #ffe5c7;
    --orange3: #ffd8ab;
    --orange4: #ffc37f;
    --orange5: #ffb35c;
    --orange6: #e7934f;
    --orange7: #d07543;
    --orange8: #433429;
    --orange9: #231f20;
    --orange1-rgb: 255,243,229;
    --orange2-rgb: 255,229,199;
    --orange3-rgb: 255,216,171;
    --orange4-rgb: 255,195,127;
    --orange5-rgb: 255,179,92;
    --orange6-rgb: 231,147,79;
    --orange7-rgb: 208,117,67;
    --orange8-rgb: 67,52,41;
    --orange9-rgb: 35,31,32;
    --gradient1: linear-gradient(225deg,#5d5d6c,#22272b);
    --gradient2: linear-gradient(45deg,#b1b1b9,#eaeaea);
    --gradient3: linear-gradient(225deg,#8b9e8f,#617362);
    --gradient4: linear-gradient(225deg,#4cddbd,#06f286);
    --gradient5: linear-gradient(225deg,#f2406e,#ffb35c);
    --gradient6: linear-gradient(225deg,#c86dd7,#7579ff);
    --gradient7: linear-gradient(90deg,#da499b,#ff7663 50%,#ffb35c);
    --g-core-access: var(--orange5);
    --g-core-plus: #fb5e17;
    --g-core-pro: #c957e1;
    --g-core-pro-plus: #ff6aba;
    --g-typography-primary-dark: var(--gray2);
    --g-typography-secondary-dark: var(--gray4);
    --g-typography-tertiary-dark: var(--gray5);
    --g-typography-primary-light: var(--gray9);
    --g-typography-secondary-light: var(--gray6);
    --g-typography-tertiary-light: var(--gray5);
    --g-typography-primary-green: var(--khaki9);
    --g-typography-secondary-green: var(--khaki8);
    --g-typography-tertiary-green: var(--khaki7);
}

:root{
    --C14: #00e59b;
    --C14-RGB: 0,229,155;
    --D1: #06070d;
    --D1-RGB: 6,7,13;
    --D2: #161a1f;
    --D2-RGB: 22,26,31;
    --D3: #22272b;
    --D3-RGB: 34,39,43;
    --D4: #292f34;
    --D4-RGB: 41,47,52;
    --D5: #5d5d6c;
    --D5-RGB: 93,93,108;
    --D6: #838592;
    --D6-RGB: 131,133,146;
    --D7: #b1b1b9;
    --D7-RGB: 177,177,185;
    --D8: #f2f2f2;
    --D8-RGB: 242,242,242;
    --D9: #22272b;
    --D9-RGB: 34,39,43;
    --D10: #162d3d;
    --D10-RGB: 22,45,61;
    --D12-start: linear-gradient(to top rgba(22,26,31,0.05) rgba(22,26,31,0.15) 62% var(--D2));
    --D12-end: linear-gradient(to bottom rgba(22,26,31,0.05) rgba(22,26,31,0.15) 62% var(--D2));
    --D13: linear-gradient(180deg,rgba(22,26,31,0),var(--D2));
    --D13a: linear-gradient(180deg,rgba(22,26,31,0) 30%,var(--D2));
    --D13b: linear-gradient(180deg,rgba(22,26,31,0),var(--D2) 95%);
    --D14: linear-gradient(-180deg,rgba(6,7,13,0),var(--D1) 94%);
    --D14a: linear-gradient(0deg,rgba(6,7,13,0.5) 34px,transparent 74px);
    --D14b: linear-gradient(0deg,rgba(6,7,13,0.5) 34px,transparent);
    --D14c: linear-gradient(-180deg,rgba(6,7,13,0),var(--D1) 84%);
    --D15: linear-gradient(90deg,transparent,var(--D1));
    --D16: linear-gradient(270deg,transparent,var(--D1));
    --D17: radial-gradient(circle at 45% 0 transparent rgba(6,7,14,0.3) 38% rgba(6,7,14,0.62) 71% rgba(6,7,14,0.72) 79% rgba(6,7,14,0.79) 85% rgba(6,7,14,0.87));
    --D18-start: #1e4c44;
    --D18-end: rgba(33,42,44,0);
    --D18: radial-gradient(circle at 50% 99%,var(--D18-start),var(--D18-end));
    --D19: rgba(0,229,155,0.32);
    --L1: #f2f2f2;
    --L1-RGB: 242,242,242;
    --L2: #fff;
    --L2-RGB: 255,255,255;
    --L3: #f9fafb;
    --L3-RGB: 249,250,251;
    --L4: #eaeaea;
    --L4-RGB: 234,234,234;
    --L6: #a0a0a8;
    --L6-RGB: 160,160,168;
    --L7: #5d5d6c;
    --L7-RGB: 93,93,108;
    --L8: #0e0d20;
    --L8-RGB: 14,13,32;
    --L9: #dbdbe2;
    --L9-RGB: 219,219,226;
    --L13: linear-gradient(-180deg,hsla(0,0%,100%,0),var(--L2) 94%);
    --L13a: linear-gradient(-180deg,hsla(0,0%,100%,0) 30%,rgba(var(--L2-RGB),0.5) 94%);
    --L13c: linear-gradient(-180deg,hsla(0,0%,100%,0),var(--L2) 84%);
    --L13_1: linear-gradient(-180deg,hsla(0,0%,100%,0),var(--L2));
    --L14: linear-gradient(180deg,hsla(0,0%,94.9%,0),#f2f2f2);
    --L15: linear-gradient(90deg,hsla(0,0%,100%,0),var(--L1));
    --L16: linear-gradient(270deg,hsla(0,0%,100%,0),var(--L1));
    --L17: radial-gradient(circle at 45% 0 transparent hsla(0,0%,100%,0.22) 37% hsla(0,0%,100%,0.78) 70% hsla(0,0%,100%,0.86) 79% hsla(0,0%,100%,0.9) 87% #fff);
    --L18-start: #ccf5ec;
    --L18-end: rgba(250,253,253,0);
    --L18: radial-gradient(circle at 50% 96%,var(--L18-start),var(--L18-end));
    --L19: #f8f8f8;
    --L19-RGB: 248,248,248;
    --L20: #fffdfd;
    --L20-RGB: 255,253,253;
    --L21: #606070;
    --L21-RGB: 96,96,112;
    --L22: #0a0a18;
    --L22-RGB: 10,10,24;
    --L23: var(--green5);
    --L23-RGB: var(--green5-rgb);
    --G01: linear-gradient(182deg,#0f7,#3197ef);
    --G1-color1: #4cddbd;
    --G1-color1-RGB: 76,221,189;
    --G1-color2: #06f286;
    --G1-color2-RGB: 6,242,134;
    --G1: linear-gradient(45deg,var(--G1-color1),var(--G1-color2));
    --G1a: linear-gradient(225deg,rgba(0,255,119,0.18),rgba(49,151,239,0.18));
    --G1b: linear-gradient(225deg,rgba(0,255,119,0.5),rgba(49,151,239,0.5));
    --G1c: linear-gradient(225deg,rgba(0,255,119,0.12),rgba(49,151,239,0.12));
    --G2: linear-gradient(180deg,transparent,hsla(0,0%,9%,0.5));
    --G3: var(--green5);
    --G3-RGB: var(--green5-rgb);
    --G4: #fff;
    --G4-RGB: 255,255,255;
    --G5: linear-gradient(255deg,#2847f5,#3197ef);
    --G6: #f8e71c;
    --G6-RGB: 248,231,28;
    --G7: 0 1px 3px 0 rgba(0,229,155,0.29);
    --G8: linear-gradient(-45deg,#ffb35c,#f2406e);
    --G9: linear-gradient(56deg,transparent 62%,#171c21);
    --G11: #f53948;
    --G11-RGB: 245,57,72;
    --G12: #00d38f;
    --G12-RGB: 0,211,143;
    --G13: radial-gradient(circle at 50% 96%,#ccf5ec,rgba(249,253,253,0));
    --G14: #7579ff;
    --G14-RGB: 117,121,255;
    --G15: #a6a8ff;
    --G15-RGB: 166,168,255;
    --G16: #0289ff;
    --G16-RGB: 2,137,255;
    --G17: #0263ff;
    --G17-RGB: 2,99,255;
    --G18: #c86dd7;
    --G18-RGB: 200,109,215;
    --G19: #ff5dd3;
    --G19-RGB: 255,93,211;
    --G20: #ef6d5d;
    --G20-RGB: 239,109,93;
    --G21: #ffb35c;
    --G21-RGB: 255,179,92;
    --G22: #f24075;
    --G22-RGB: 242,64,117;
    --G23: #b140f2;
    --G23-RGB: 177,64,242;
    --D1_SISU: #000;
    --D1_SISU-RGB: 0,0,0;
    --D2_SISU: #242627;
    --D2_SISU-RGB: 36,38,39;
    --D3_SISU: #505254;
    --D3_SISU-RGB: 80,82,84;
    --D4_SISU: #162d3d;
    --D4_SISU-RGB: 22,45,61;
    --D5_SISU: #869bb3;
    --D5_SISU-RGB: 134,155,179;
    --D6_SISU: #979797;
    --D6_SISU-RGB: 151,151,151;
    --D7_SISU: #dbdbdb;
    --D7_SISU-RGB: 219,219,219;
    --D8_SISU: #5b6779;
    --D8_SISU-RGB: 91,103,121;
    --D9_SISU: #22272b;
    --D9_SISU-RGB: 34,39,43;
    --D10_SISU: #162d3d;
    --D10_SISU-RGB: 22,45,61;
    --A1: #05cc47;
    --A1-RGB: 5,204,71;
    --A3a: linear-gradient(201deg,#18d25f,#3197ef);
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
    color: inherit;
}