@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Poppins;
}

body{
    position: absolute;
    background-color: rgb(21, 32, 43);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-dyalog{
    color:rgb(119, 86, 254);
    padding: .5em;
    font-size:6em;
}
.container{
    display: flex;
    position: relative;
    background-color: rgb(29, 44, 58);
    border-radius: 1.5em;
}
h2{
    font-size: 2em;
    margin: 1em 0 .3em 0;
}
.form{
    display: flex;
    padding: 2em 2em 0 2em;
    margin: 2em;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}
#email,#password{
    font-family: Poppins;
    align-items: center;
    border-radius: .5em;
    border-style: none;
    width: 20em;
    padding: .5em;
}
.email, .password{
    padding-top: 2em;
    padding-bottom: .5em;
    display: flex;
    width:16em;
    justify-content: left;
}