

@media screen and (max-width: 1496px) {
    .sidebar{
        padding-left: 5%;
    }
  
}

@media screen and (max-width: 980px) {
    .sidebar{
        padding-left:1%;
    }
}

@media screen and (max-width: 829px) {
    .sidebar{
        padding-left:10%;
    }
    .sidebar .nav-list .links_name{
        display: none;
    }
    .sidebar .logo-details .logo {
        
        font-size: 35px;
        
      }
      .content-card{
        width:70%;
       
    }
}

@media screen and (max-width: 360px) {
    .sidebar{
    
        padding-left: 0%;
    }
  

     
}

@media screen and (max-width: 520px) {
    .sidebar{
        padding-left: 2%;
        width:18%;
    }
    .content-card{
        width:100%;
        border-right: none;
    }

   

     
}

@media screen and (max-width: 280px) {
    .sidebar{
        padding-left: 0%;
    }
   

  
}